@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly.com</h1>
    <p class="lead">Vidly is a practice video-rental app for learning C# and ASP.NET.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
