
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Dynamic model, so need to put a directive at the top of the file-->
<h2>@Model.Name</h2>

