
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <!--C# ternary operator: returns "popular" if condition is true or null if it isn't-->
    var className = Model.Customers.Count > 0 ? "popular" : null;
}
<!--Dynamic model, so need to put a directive at the top of the file-->

<h2 class="@className">Movie: @Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before!</p>
}
else
{
    <h5>Customers who have rented this movie:</h5>
    <ul>
        @foreach (var customer in Model.Customers)
        {
            // Can use both C# and HTML in Razor
            <li>@customer.Name</li>
        }
    </ul>
}